body{
    margin-left: 300px;
    margin-right: 300px;
}
.p1{
    text-align: right;
}
.header{
    overflow: auto;
}
.header h1{
    float: left;
}
.header img{
    float: right;
    width: 150px;
    height: 100px;
}
.hr1{
    background-color: green;
    height: 10px;
}
.data1{
    font-size: large;
}
.dataskolovanje{
    font-size: large;
}
.tableskolovanje{
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}
.datahobi{
    font-size: large;
}
.p2{
font-size: x-small;
text-align: right;
}
.table1{
    column-rule: 100px;
}
